<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache" stopOnFailure="false" failOnDeprecation="true">
  <testsuites>
    <testsuite name="unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>tests/Integration</directory>
    </testsuite>
    <testsuite name="performance">
      <directory>tests/Performance</directory>
    </testsuite>
    <testsuite name="e2e">
      <directory>tests/E2E</directory>
    </testsuite>
    <testsuite name="contract">
      <directory>tests/Contract</directory>
    </testsuite>
  </testsuites>
  <source ignoreIndirectDeprecations="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory>src/Views</directory>
    </exclude>
  </source>
  <php>
    <env name="APP_ENV" value="testing"/>
    <ini name="error_reporting" value="-1"/>
  </php>
</phpunit>
